# Day 1
---
## Part 1: Sonar Sweep

In [1]:
import pandas as pd
import numpy as np

data = pd.read_table('sonar_sweep.txt', header=None)

In [2]:
data.head()

     0
0  169
1  150
2  158
3  163
4  167

In [3]:
data.shape

(2000, 1)

I was hoping to find a way with `pandas` or `numpy` to do this (and I'm still sure there is), but after searching and searching, I couldn't find a way to compare values from a _single column_.

> ðŸ’¡ Although I found many ways to compare two columns!

In [4]:
""" Solution: Simple counter for-loop approach. """

counter = 0

for i in range(data.shape[0]):
    if i == 0: continue
    _prev, _next = data.iloc[i-1, 0], data.iloc[i, 0]
    if _prev < _next:
        counter += 1

print(counter)

1226

---
## Part 2: Sliding Window

In [5]:
data.iloc[:, 0]

0        169
1        150
2        158
3        163
4        167
        ...
1995    3558
1996    3575
1997    3576
1998    3586
1999    3588
Name: 0, Length: 2000, dtype: int64

In [6]:
data.iloc[0:3].values.sum()

477

In [7]:
data.iloc[1:4].values.sum()

471

In [8]:
counter = 0
for i in range(data.shape[0]):
    _prev, _next = data.iloc[i:i+3].values.sum(), data.iloc[i+1:i+4].values.sum()
    if _prev < _next:
        counter += 1
print(counter)

1252